* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nata Sans", sans-serif;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
body{
  background-color: rgb(246, 239, 239);
}